<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                {{#each products}}
                    <tr>    
                        <td>
                            <a href="/products/{{this._id}}" class="text-decoration-none">
                                <img src="{{this.image}}" class="img-fluid" alt="{{this.title}}">
                            </a>
                        </td>
                        <td>{{this.title}}</td>
                        <td>${{this.price}}</td>
                        <td><button class="btn btn-dark" onclick="agregarAlCarrito('{{this.title}}')">Agregar al carrito (+)</button></td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>

